html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(255, 255, 213);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

h1{
  font-size: 500%;
  color: pink;
}
p{
  font-size: 200%;
  margin-left: 20%;
  margin-right: 20%;
}
section{
  font-size: 150%;
}
button{
  margin-top: 2%;
  color: rgb(0, 0, 0);
  background-color: pink;
}